<% layout("/layouts/boilerplate") -%>

<h2 class="explore">Explore &#127759;</h2>
<div class="map-box">
  <div id="map"></div>
</divc>
<script>
  const mapToken = "<%= process.env.MAP_TOKEN %>";
  mapboxgl.accessToken = mapToken;
  const map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v12",
    center: [77.1025, 28.7041], // [lng, lat]
    zoom: 8,
  });

  const marker = new mapboxgl.Marker({ color: "red" })
    .setLngLat([77.1025, 28.7041])
    .addTo(map);
</script>
